* {
    margin: 0;
    padding: 0;
}

body {
    width: 55vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

#right-sidebar {
    position: fixed;
    right: 0px;
    top: 0;
    width: 20vw;
    min-width: 120px;
    height: 100%;
    background-color: #ffffff44;
    display: flex;
    align-items: center;
    flex-flow: column;
    z-index: 1;
}

#left-sidebar img {
    width: 40px;
}

#left-sidebar {
    position: fixed;
    left: 0px;
    top: 0;
    width: 20vw;
    min-width: 120px;
    height: 100%;
    background-color: #ffffff44;
    display: flex;
    align-items: center;
    flex-flow: column;
    z-index: 1;
    color: white;
}

.sidebar {
    margin-top: 20px;
}

.sidebar a {
    color: rgb(0, 0, 0);

}

.sidebar li {
    list-style: none;
    margin: 20px;
}

.sidebar li a {
    align-items: center;
    display: flex;
}

.sidebar ul {
    padding-inline-start: 0px;
}

#sidebar-profile {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#sidebar-profile .profile-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 100%;
}

#point_tag,
#email_tag {
    color: black;
    display: none;
}

.navbar {

    height: 50px;
    width: 100%;
    position: fixed;
    top: -50px;
    background-color: #fffee2a1
}

.navbar li {
    list-style: none;

}

.navbar .container #navbar-right {
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* 미디어 쿼리 */
@media screen and (max-width: 900px) {
    #left-sidebar {
        transform: translateX(-100%);
    }

    #right-sidebar {
        transform: translateX(100%);
    }

    body {
        margin-top: 50px;
        width: 100%;
    }

    .navbar {
        transform: translateY(50px);
    }
}

#intro a {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 팝업창 css */
.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 999;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
    margin: 0 auto;
    height: 90vh;
}

.popup-body {
    position: relative;
}

.popup::-webkit-scrollbar {
    display: none;
}

.iframe {
    max-width: 600px;
    width: 100%;
    height: 85vh;
}

.close_popup_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.7);
    /* 배경색 반투명 설정 */
    border: none;
}

.close_popup_btn:hover {
    cursor: pointer;
}

.close_popup_btn:before,
.close_popup_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: black;
}

.close_popup_btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup_btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}