* {
    margin: 0;
    padding: 0;
}

body {
    width: 55vw;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

#right-sidebar {
    position: fixed;
    right: 0px;
    top: 0;
    width: 20vw;
    min-width: 120px;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-flow: column;
    z-index: 1;
}
#right-sidebar img{
    width: 40px;
}
#left-sidebar {
    position: fixed;
    left: 0px;
    top: 0;
    width: 20vw;
    min-width: 120px;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-flow: column;
    z-index: 1;
}
.sidebar{
    margin-top: 20px;
}
.sidebar li {
    list-style: none;
    margin: 20px;
}

.sidebar ul {
    padding-inline-start: 0px;
}
.navbar{
    height: 50px;
    width: 100%;
    position: fixed;
    top:-50px;
    background-color: antiquewhite;
}
.navbar li{
    list-style: none;

}
.navbar .container #navbar-right{
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    #left-sidebar {
      transform: translateX(-100%);
    }
    #right-sidebar {
        transform: translateX(100%);
      }
  
    body {
      margin-top: 40px;
      width: 100%;
    }
  
    .navbar {
      transform: translateY(50px);
    }
  }

#intro a{
    display: flex;
    align-items: center;
    justify-content: center;
}