body{
  width: 55vw;
  margin: 0 auto;
}
#right-sidebar {
    position: fixed;
    right: 0px;
    width: 20vw;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-flow: column;
    z-index: 1;
  }

  #left-sidebar {
    position: fixed;
    left: 0px;
    width: 20vw;
    height: 100%;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-flow: column;
    z-index: 1;
  }

  .sidebar li{
    list-style: none
  }

  .sidebar ul{
    padding-inline-start: 0px;
  }