body {
    width: 80%;
    float: right;
    /* right: 0;
    position: fixed; */
    background-image: linear-gradient(to right, #fffcc1, #fff3cf, #fff0e8, #fff4fb, #fff9ff, #fefbff, #fefdff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);

    @media screen and (max-width:900px) {
        background-image: none;
        width:100%
    }
}

.detail-container {
    border: 3px solid rgba(29, 10, 82, 0.089);
    padding: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 80px auto;
    width: 70vw;
    justify-content: space-between;

    @media screen and (max-width:900px) {
        flex-direction: column;
        align-items: stretch;


    }
}

#article-img {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:900px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px
    }
}

#article-img img {
    max-width: 500px;
    width: 100%;

}

#author-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

.detail-section {
    width: 35%;
    height: 600px;
    overflow: auto;
    padding-right: 10px;

    @media screen and (max-width:900px) {
        width: 100%
    }
}

.author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-section a {
    display: flex;
    align-items: center;
}

.article-section {
    font-weight: bold;
}

#title {
    padding: 10px 0;

}

#content {
    background-color: #e4f3ff93;
    padding: 30px 10px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-break: break-all;
}

.buttons-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.edit-n-del {
    display: flex;
}

.edit-n-del button {
    margin-left: 10px;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e5def1;
    cursor: pointer;
}

#comment-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#comment-area button{
    cursor: pointer;
}

#comment {
    width: 18vw;
    height: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.041);
    border: none;
    border-radius: 5px;
    resize: none;
    @media screen and (max-width:900px) {
        width: 55vw
    }
}

#comment-area button {
    margin-left: 10px;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #e5def1;
}

.nth-comment {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}

.comment-author {
    display: flex;
    align-items: center;
}

#comment-author-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;

}

#comment-author-img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 100%;
}

#comment-section {
    margin-top: 5px;
    width: 100%;
}

#comment-body {
    min-height: 30px;
    background-color: rgba(9, 21, 61, 0.075);
    border-radius: 5px;
    padding: 10px;
}

#comment-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;

}

#comment-created-at {
    font-size: small;

}

#comment-info a {
    background-color: #fff2f6;
    padding: 3px;
    border-radius: 3px;
    font-size: small;
}