* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.follow_title {
    margin: 20px;

    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.follow_list {
    width: 100%;
    max-width: 598px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_wrap {
    width: 80%;
    height: 50px;
    margin-top: 10px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 5px;
}

.profile_image_box {
    width: 20%;
    min-width: 50px;
    height: 100%;
    margin-right: 10px;

    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile_image {
    width: 20%;
    min-width: 50px;
    height: 100%;
}

.nickname {
    width: 70%;
    height: 50px;

    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.follow_btn {
    width: 40%;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;

    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.follow_btn:hover {
    cursor: pointer;
    background-color: grey;
}