#heart_rank {
  bottom: 10px;
  position: absolute;
  left: 0;
  width: 20vw;
  font-size: 15px;
}

.rank-table {
  border-collapse: collapse;
}

.rank-table th,
.rank-table td {
  padding: 8px;
  border-bottom: 1px solid #000;
  text-align: center;
  border: none;
}

.rank-table th {
  color: black;
  text-align: center;
  white-space: normal;
  width: 18vw;
}


.rank-table tbody tr {
  color: #000;
}

#heart_rank a {
  color: rgb(54, 13, 109) !important;
}

#heart_rank h2 {
  color: black;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  #heart_rank {
    display: none;
  }
}

/* 
@media screen and (max-width: 1300px) {
  .rank-author{
    width: 0px;
  }
} */