.card_list {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    min-width: 300px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_box {
    width: 500px;
    min-width: 300px;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
    min-width: 300px;
    height: 500px;
    border-radius: 10px;
}

.box_wrap {
    width: 500px;
    min-width: 300px;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text_box {
    width: 395px;
    min-width: 195px;
    height: auto;
    margin-right: 5px;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.author {
    width: 100%;
    height: auto;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.like_box {
    width: 100px;
    height: auto;

    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.like_image_box {
    width: 50px;
    height: 50px;

    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.like_image {
    width: 50px;
    height: 50px;
}

.like_count {
    width: 50px;
    height: auto;

    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to right top, #eceabd, #d6ebc6, #c5ead2, #bce7dd, #bae2e4, #badee7, #bddae9, #c2d6e8, #c5d3e8, #c8d0e8, #cdcde6, #d2c9e3);
}

#toggle-btn {
    width: 100px;
    height: 25px;
    font-size: 15px;
    background-color: #ffffffb2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}