body {
    background-color: #f8f7d8;
}

/* 로그인 폼 스타일 */
.login-form {
    width: 300px;
    margin: 200px auto;
    padding: 20px;
    border: 3px solid #20003a1a;
    text-align: center;
    /* 가운데 정렬 */
    border-radius: 10px;
}

.login-form-control {
    margin-bottom: 10px;
}

.login-form-control label {
    display: block;
}

.login-form-control input[type="text"],
.login-form-control input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* 너비를 컨텐츠 영역에 맞게 설정 */
}

.login-button button {
    width: 100%;
    padding: 10px;
    background-color: #464646;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-button button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.buttons {
    text-align: center;
    margin: 20px 0;
}

.buttons button {
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.buttons button a {
    text-decoration: none;
    color: #000;
    background-color: #f8f7d8;

}

.buttons button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    /* 마우스 호버 시 그림자 효과 */
}