
#owner-section{
    flex-direction: row;
    justify-content: space-between;
}



#profile-wrap{
    padding: 30px;
}
#owner-section-btn{
    background: none;
    border: none;
}
#owner-section-btn img{
    width: 20px;
}
#profile-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#profile_img {
    width: 150px;
}

#profile-content {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#list-switch{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    @media screen and (max-width:1000px) {
        gap:10px;
    }
    @media screen and (max-width:800px) {
        gap:3px;
    }
}

.CardContainer{
    width: 100%;
    position: relative;
}

.CardContainer::after{
    display: block;
    content: "";
    padding-bottom: 100%;
}

.CardBox{
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;

}
