#owner-section{
    flex-direction: row;
    justify-content: space-between;
}



#profile-wrap{
    padding: 30px;
}
#owner-section-btn{
    background: none;
    border: none;
}
#owner-section-btn img{
    width: 20px;
}
#profile-info{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.profile_img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid gray;
}

#profile_img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 100%;

}


#profile-content {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 50px;
}
#profile-content div{
    margin: 10px 0;
}
.nickname-section{
    display: flex;
}
#follow-button{
    margin: 0 10px;
}

#list-switch {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    @media screen and (max-width:800px) {
        gap:3px;
    }
}

.CardContainer{
    width: 100%;
    position: relative;
}

.CardContainer::after{
    display: block;
    content: "";
    padding-bottom: 100%;
}

.CardBox{
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;

}



/* 팝업창 css */
.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    padding: 15px;
    z-index: 999;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
    margin: 0 auto;
    height: 90vh;
}

.popup-body {
    position: relative;
}

.popup::-webkit-scrollbar {
    display: none;
}

.iframe {
    max-width: 600px;
    width: 100%;
    height: 85vh;
}

.close_popup_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.7);
    /* 배경색 반투명 설정 */
    border: none;
}

.close_popup_btn:hover {
    cursor: pointer;
}

.close_popup_btn:before,
.close_popup_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: black;
}

.close_popup_btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup_btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

