.newPassword {
    width: 300px;
    margin: 250px auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10px;
  }
  
  .newPassword h4 {
    margin-bottom: 20px;
  }
  
  .newPassword .form-floating {
    margin-bottom: 10px;
  }
  
  .newPassword .form-floating label {
    display: block;
  }
  
  .newPassword .form-floating input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .newPassword button {
    width: 100%;
    padding: 10px;
    background-color: #464646;;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .newPassword button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  